- name: Create Velociraptor directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ velociraptor_dir }}"
    - "{{ velociraptor_config_dir }}"
    - "{{ velociraptor_log_dir }}"

- name: Download velociraptor binary
  get_url:
    url: "{{ velociraptor_msi_url_debian }}"
    dest: "{{ velociraptor_dir }}/velociraptor"
    mode: '0750'

- name: Generate velociraptor server config
  command: "{{ velociraptor_dir }}/velociraptor config generate"
  register: config

- name: create files folder
  local_action: file path="{{ role_path}}/files" state=directory

- name: check if velociraptor server config exists
  local_action: stat path="{{ role_path}}/files/{{ velociraptor_server_config }}"
  register: config_exists

- name: copy velociraptor server config locally
  local_action: copy content="{{config.stdout }}" dest="{{ role_path}}/files/{{ velociraptor_server_config }}"
  when: config_exists.stat.exists != true

- name: "edit {{ role_path}}/files/{{ velociraptor_server_config }}"
  replace:
    path: "{{ role_path}}/files/{{ velociraptor_server_config }}"
    regexp: "  - https://localhost:8000/"
    replace: "  - https://{{ ansible_default_ipv4.address }}:8000/"
  delegate_to: localhost

- name: "edit {{ role_path}}/files/{{ velociraptor_server_config }}"
  replace:
    path: "{{ role_path}}/files/{{ velociraptor_server_config }}"
    regexp: "  bind_address: 127.0.0.1"
    replace: "  bind_address: 0.0.0.0"
    after: "GUI:"
    before: "  gw_certificate:"
  delegate_to: localhost

- name: copy velociraptor server config
  copy:
    dest: "{{ velociraptor_config_dir }}/{{ velociraptor_server_config }}"
    src: "{{ role_path}}/files/{{ velociraptor_server_config }}"
  notify: restart velociraptor

- name: Generate velociraptor client config
  command: "{{ velociraptor_dir }}/velociraptor -c {{ velociraptor_config_dir }}/{{ velociraptor_server_config }} config client"
  register: clientconfig

- name: check if velociraptor client config exists
  local_action: stat path="{{ role_path}}/files/{{ velociraptor_client_config }}"
  register: clientconfig_exists

- name: copy velociraptor client config locally
  local_action: copy content="{{clientconfig.stdout }}" dest="{{ role_path}}/files/{{ velociraptor_client_config }}"
  when: clientconfig_exists.stat.exists != true

- name: install python3-venv
  apt:
    name: python3-venv
    update_cache: yes

- name: Create virtual environment for pexpect
  command: python3 -m venv {{ velociraptor_dir }}/venv
  args:
    creates: "{{ velociraptor_dir }}/venv"

- name: Install pexpect in virtual environment
  pip:
    name: pexpect
    virtualenv: "{{ velociraptor_dir }}/venv"

- name: Case insensitive password string match
  expect:
    command: "{{ velociraptor_dir }}/velociraptor --config {{ velociraptor_config_dir }}/velociraptor.server.config.yml user add {{ velociraptor_admin_user }} --role administrator"
    responses:
      (?i)Enter user's password: "{{ velociraptor_admin_password }}"
  environment:
    PATH: "{{ velociraptor_dir }}/venv/bin:{{ ansible_env.PATH }}"
  vars:
    ansible_python_interpreter: "{{ velociraptor_dir }}/venv/bin/python"

- name: install velociraptor systemd configuration
  template:
    src: systemd-velociraptor.service.j2
    dest: /lib/systemd/system/velociraptor.service
    mode: '0644'
  register: systemd
  notify: reload velociraptor

- name: enable and start velociraptor systemd service
  service:
    name: velociraptor
    enabled: yes
    state: 'started'