---
debian_essential_packages:
  - curl
  - wget
  - vim
  - net-tools
  - htop
  - lsof
  - strace
  - tcpdump
  - nmap
  - git
  - unzip
  - jq
  - rsyslog
  - apt-transport-https
  - ca-certificates
  - gnupg
