---
- name: Gather facts
  tags: always
  setup:

- name: Harden Active Directory
  tags: [hardening, ad]
  include_tasks: ad_hardening.yml
  when: is_domain_controller | default(false)

- name: Apply server-specific hardening
  tags: [hardening, server]
  include_tasks: server_hardening.yml

- name: Harden DNS
  tags: [hardening, dns]
  include_tasks: dns_hardening.yml
  when: is_dns_server | default(false)
