---
- name: Configure Wazuh agent manager connection
  template:
    src: ossec.conf.j2
    dest: /var/ossec/etc/ossec.conf
    owner: root
    group: wazuh
    mode: '0640'
  notify: restart wazuh-agent

- name: Ensure Wazuh agent is running
  service:
    name: wazuh-agent
    state: started
    enabled: yes
