---
- name: Gather facts
  tags: always
  setup:

- name: Gather service facts
  service_facts:

- name: Harden web server
  tags: [hardening, web]
  include_tasks: harden_webserver.yml

- name: Deploy BunkerWeb WAF
  tags: [setup, waf]
  include_tasks: bunkerweb.yml
  when: deploy_bunkerweb | default(false)
