- name: Standard Linux Base Configuration (Debian)
  hosts:
    - debian_based
  roles:
    - linux_debian

- name: Standard Linux Base Configuration (RHEL)
  hosts:
    - rhel_based
  roles:
    - linux_rhel

- name: Incident Response Client (Linux Debian)
  hosts:
    - debian_based
  tags:
    - ir_linux_debian
  roles:
    - ir_linux

- name: Incident Response Client (Linux RHEL)
  hosts:
    - rhel_based
  tags:
    - ir_linux_rhel
  roles:
    - ir_linux

- name: Incident Response Client (Windows)
  hosts:
    - windows
  tags:
    - ir
  roles:
    - ir_windows

- name: Incident Response Server
  hosts:
    - linux
  tags:
    - ir_linux_server
  roles:
    - ir_linux

- name: linux baseline configuration
  hosts:
    - linux
  roles:
    - linux_baseline

- name: Install Velociraptor client and server on remote hosts
  hosts: velociraptor
  become: yes
  roles:
    - ansible_velociraptor