---
- name: Disable SMBv1 protocol
  win_optional_feature:
    name: SMB1Protocol
    state: absent
  ignore_errors: yes

- name: Disable SMBv1 server
  win_shell: |
    Set-SmbServerConfiguration -EnableSMB1Protocol $false -Force
  ignore_errors: yes

- name: Require SMB signing
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Services\LanmanServer\Parameters
    name: RequireSecuritySignature
    data: 1
    type: dword

- name: Require SMB encryption
  win_shell: |
    Set-SmbServerConfiguration -EncryptData $true -Force
  ignore_errors: yes
