---
- name: Ensure .ssh directory exists
  file:
    path: "/home/{{ ansible_user }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Deploy authorized SSH key
  authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ lookup('file', ansible_ssh_public_key_file) }}"
