---
- name: Gather Windows facts
  tags: always
  setup:

- name: Ensure WinRM is properly configured
  tags: [setup, winrm]
  include_tasks: winrm_setup.yml

- name: Install essential Windows tools
  tags: [setup, packages]
  include_tasks: install_tools.yml

- name: Apply Windows updates
  tags: [setup, updates]
  include_tasks: windows_update.yml
  when: run_windows_update | default(false)
